<!--
    By Polymer's specification, this element's id must contain a dash
    and should be globally unique
-->
<dom-module id="xdc-rov-polymerUI-examples-graph_cpu">
  <template>

    <!-- include common rov view styles -->
    <style include="ti-rov-viewStyles"></style>
    <style include="ti-rov-styles"></style>

    <!-- CSS rules for this element -->
    <style is="custom-style">

      :host {
        display: inline-block;
        backgroundColor: white;
        position: absolute;
      }

      #graph {
        min-width: 270px;
        min-height: 200px;
      }

      #closeButton { /* close button element styling */
        padding-top: 0px;
        float: right;
      }

      #viewLabel { /* style of name shown in tool bar */
        margin-left: 15px;
        font-size: 16px;
        font-weight: bold;
        font-family: var(--rovFontFamily);
      }

      #viewPaperCard { /* style of top-level container (paper-card) */
        margin-top:8px;
        margin-right:0px;
        border: 1px solid #D3D3D3;
      }

      /* this addon's content style */
      #viewContentDiv {
        display: block;
        position: absolute;
        top: 36px;
        bottom: 0px;
        width: 100%;
        margin-top:0px;
        margin-bottom: 0px;
      }
    </style>

    <!-- local DOM for this element -->
    <paper-card id="viewPaperCard" style="min-width: 410px;min-height: 310px;" elevation="2" on-click="viewClicked" on-dragover="viewDragOver">

      <!-- define the toolbar region that responds to drag actions -->
      <div id="dragDiv" style="margin-top:2px;position:relative;" draggable="{{draggable}}" on-mousedown="viewDragMouseDown">
        <!-- display a label within the toolbar of this element -->
        <label id="viewLabel">CPU Load</label>

        <!-- add the standard view buttons to this element -->
        <paper-icon-button id="refreshButton" class="viewToobarButton" hidden$="{{viewRefresh}}" icon="refresh" on-click="onRefresh" role="button" tabindex="0" title="Refresh view"></paper-icon-button>
        <paper-spinner-lite id="refreshSpinner" hidden$="{{!viewRefresh}}" active></paper-spinner-lite>
        <paper-icon-button id="defaultViewMenuButton" class="viewToobarButton" icon="menu" on-click="viewOptionsMenuClicked" role="button" tabindex="0"  title="View options"></paper-icon-button>
        <paper-icon-button id="closeButton" class="viewToobarButton" icon="close" on-click="closeView" role="button" tabindex="0" title="Close view"></paper-icon-button>
      </div>

     <!-- Place your content here -->
      <div id="viewContentDiv">
        <div id="graph"></div>
      </div>

      <!-- enable resizing for the paper-card element -->
      <div class="resizerTopRight" on-mousedown="resizerClicked" hidden$="{{resizeViewsDisabled}}"></div>
      <div class="resizerTopLeft" on-mousedown="resizerClicked" hidden$="{{resizeViewsDisabled}}"></div>
      <div class="resizerBottomLeft" on-mousedown="resizerClicked" hidden$="{{resizeViewsDisabled}}"></div>
      <div class="resizerBottomRight" on-mousedown="resizerClicked" hidden$="{{resizeViewsDisabled}}"></div>
      <ti-rov-viewoptions id="rovViewOptions"></ti-rov-viewoptions>

      <!-- div for showing errors -->
      <div id="viewStatusConsole" hidden>
        <paper-icon-button id="closeViewStatusButton" icon="close" on-click="closeViewStatusClicked" role="button" tabindex="0"></paper-icon-button>
        <ul id="viewStatusList">
          <template is="dom-repeat" items="{{compressedStatusItems}}" as="item">
            <li class="viewStatusItem">
              <label class="viewStatusCountLabel" style$="{{item.countStyle}}">{{item.count}}</label>
              <iron-icon icon$="{{item.icon}}" class$="{{item.iconClass}}"></iron-icon>
              <label style="margin-top:3px;">{{item.message}}</label>
            </li>
          </template>
        </ul>
      </div>
    </paper-card>

  </template>

  <!-- load this element's code  -->
  <script src="graph_cpu.js"></script>

</dom-module>
